html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        width: 100%;
    }
}

html {
    position: absolute;
    min-height: 100%;
   
}

body {
    margin-bottom: 60px;
    min-width: 100%;
    position: center;
    
}

.footer{
    position:sticky;
    text-align:center;
    bottom :0;
    width : 100%;
    white-space : nowrap;
    line-height :60px;
}

.header {
    text-align: center;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
