﻿@model IEnumerable<BooksModal>
<div class = "py-5 bg-light">
    <div class= "container">
        <div class = "row">
            @foreach(var book in Model)
            {
              <div class = "col-sm-4">
                <partial name  = "_card" model = "book"></partial>
              </div>           
            }      

        </div>

    </div>
</div>