﻿@model EmailConfirmModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Confirm email";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <partial name = "bootstrapAndCssLinks" />
    <title>ConfirmMail</title>
</head>
<body>
    <div class = "container">
        <div class = "row text-center">
            <div class = "col-md-4">
                @if ( Model.EmailVerified == true)
                {
                    <div class = "alert alert-success" role = "alert">
                    <p>your email hase been verified</p>
                    </div>
                }
                else
                {
                    <form asp-action = "ConfirmMail">
                        <div asp-validation-summary = "ModelOnly" class = "text-danger"></div>
                        <input type = "hidden" asp-for = "Email"/>

                        <p>Did not get any email or deleted by mistake?</p>
                        <div class = "form-group">
                            <input type= "submit" value = "resend confirm email" class="btn-primary btn-primary"/>
                        </div>
                    </form>
                }

            </div>
        </div>
        <div>
            <p>go to login page</p>
             <a asp-action="Login" asp-controller = "Account">login</a>
        </div>
    </div>
</body>
</html>
