﻿@model BookStoreLibrary.Models.forgotPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
      <partial name = "bootstrapAndCssLinks" />
    <title>forgotPassword</title>
</head>
<body>

<h4>forgotPassword</h4>
<hr />
<div class = "container">
<div class="row">
    <div class="col-md-4">
                @if (Model?.IsSent == true)
                {

                    <div class = "alert alert-success" role= "alert">
                        <p>email already sent to your mail address</p>
                    </div>
                }
                else
                {
                    <p>forgot your mail? no worries you can reset easiy</p>
                    <form asp-action="forgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                      
                    <div class="form-group">
                        <input type="submit" value="send reset password mail" class="btn btn-primary" />
                    </div>
                    </form>
                }

    </div>
</div>

<div>
    <a asp-action="Login" asp-controller = "Account">login</a>
</div>
</div>
</body>
</html>
