﻿@model BookStoreLibrary.Models.LogInUserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
      <partial name = "bootstrapAndCssLinks" />
    <title>Login</title>
</head>
<body>

<h4>Login</h4>
<hr />
<div class= "container">
<div class="row">
    <div class="col-md-4">
        <form method = "post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class = "col-md-6">
        <img src = "~/signUp1.jpg" alt =  "sign up image"  width = "150%" height = "150%"/>
    </div>
</div>

<div>
    <p>go to <a asp-controller="Account" asp-action="SignUp">sign up</a> page</p>
    <a asp-controller="Account" asp-action="forgotPassword">forgot password ? </a> 

</div>
</div>

</body>
</html>
