﻿@model BookStoreLibrary.Models.ResetPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
       <partial name = "bootstrapAndCssLinks" />
    <title>ResetPassword</title>
</head>
<body>

<h4>ResetPasswordModel</h4>
<hr />
<div class = "container">
    <div class="row">
    <div class="col-md-4">
                @if (Model?.IsReset == false)
                {
                     <form asp-action="ResetPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type= "hidden" asp-for="UserId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input  type= "hidden" asp-for="Token" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="confirmPassword" class="control-label"></label>
                            <input asp-for="confirmPassword" class="form-control" />
                            <span asp-validation-for="confirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Reset" class="btn btn-primary" />
                        </div>
                    </form>

                }
                else
                {
                        <div class = "alert alert-success" role= "alert">
                            <p>password has been reset, please try to login with new password</p>
                        </div>
                        <div>
                             <a asp-action="Login" asp-controller = "Account">login</a>
                        </div>
                }

    </div>
</div>



</div>


</body>
</html>
