﻿@model BookStoreLibrary.Models.SignUpUserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <partial name = "bootstrapAndCssLinks" />
    <title>SignUp</title>
</head>
<body>
    <h2>Sign up</h2>
<hr />


<div class = "container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

              <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confPassword" class="control-label"></label>
                <input asp-for="confPassword" class="form-control" />
                <span asp-validation-for="confPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class = "col-md-6">
        <img src = "~/signUp1.jpg" alt =  "sign up image"  width = "150%" height = "150%"/>
    </div>
</div>

<div>
    <p>got to <a asp-controller ="account" asp-action="Login" >login page</a> </p>
</div>
</div>

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
</body>
</html>
