﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>get the best sellers from around the world</h4>
</div>
@await Component.InvokeAsync("TopBooks")
