﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Hello {{name}},<br/>
    thank you for using the book store app, please verify yourself by clicking the below link</p><br/><br/>
    <a href= "{{VerifyLink}}">Link</a>
</body>
</html>