﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Hello {{name}},<br />
       Click on the below link to generate new password
    </p><br /><br />
    <a href="{{VerifyLink}}">Link</a>
</body>
</html>