﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us"; 
}

<h2>About us</h2>
<br/>
<br/>
<p>our Book Store is a well-renowned Book Store in India. We deal with all kinds of books from various genres like Management, Philosophy, History, Religion, Architecture, Best-Sellers & Sci-Fi. We provide you with a professional service. We help you choose from the variety of books  with reasonable price. We provide speedy service too.</p>