﻿@model BooksModal
@inject BookStoreLibrary.Repositories.ILanguageRepository _languageRep
@{
    ViewData["Title"] = "Add new Book";

}
@{
    Layout = "_Layout";
}
<div class="container">
    <h1>Add New Book</h1>
    @if (ViewBag.IsSuccess)
    {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>data added successfully !</strong><a asp-controller = "Book" asp-action = "getBook" asp-route-id = "@ViewBag.bookId" >click</a>  to view the book added.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
    }

    <form method="post" enctype = "multipart/form-data" asp-controller="Book" asp-action="AddNewBook">
        @*<div asp-validation-summary  ="All"></div>*@

        @*autogenerarte a field using datatype attribute

        *@


        <div class="form-group">
            <label asp-for="myfield"></label>
            <input asp-for="myfield" class="form-control" />
            <span asp-validation-for="myfield" class= "text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class= "text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class= "text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="Category"></label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class= "text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="Desc"></label>
            <textarea asp-for="Desc" class="form-control"></textarea>
            <span asp-validation-for="Desc" class= "text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="LanguageId"></label>
            <select asp-for="LanguageId" class="form-control" asp-items = "(await @_languageRep.GetLanguages()).Select(x=> new SelectListItem(){Text = x.Name,Value = x.Id.ToString()})">
            <option value = "">please choose your language</option>
            </select>
            <span asp-validation-for="LanguageId" class= "text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Pages"></label>
            <input asp-for="Pages" class="form-control" />
            <span asp-validation-for="Pages" class= "text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="email"></label>
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class= "text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="CoverPhoto"></label>
            <input asp-for="CoverPhoto" class="form-control" />
            <span asp-validation-for="CoverPhoto" class= "text-danger"></span>
        </div> 

         <div class="form-group">
            <label asp-for="GallaryImgs"></label>
            <input asp-for="GallaryImgs" class="form-control" />
            <span asp-validation-for="GallaryImgs" class= "text-danger"></span>
        </div> 

           <div class="form-group">
            <label asp-for="BookPdf"></label>
            <input asp-for="BookPdf" class="form-control" />
            <span asp-validation-for="BookPdf" class= "text-danger"></span>
        </div> 

        <div class="form-group">
            <input type="submit" value="add Book" />
        </div>
    </form>

</div>
