﻿


@model IEnumerable<BooksModal>



    @{
        ViewData["Title"] = "Book List";
    }

<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">you can brouse any book here</p>
</div>
<h3>Book List</h3>




<div class="row">

@foreach(var books in Model)
{ 
  <div class="col-sm-4">
    <partial name  = "_card" model = "@books" ></partial>
  </div>
}
</div>

 
