﻿@model BooksModal;
@{
    ViewData["Title"] = "Book details";
}
<h3>Book Details</h3>
<div class="row">
    <div class="col-md-7">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
             <ol class="carousel-indicators">
                @for(int i=0;i<Model.Gallary.Count(); i++)
                {
                <li data-target="#myCarousel" data-slide-to="@i" class="@(i==0? "active":"")"></li>                   
                }      
            </ol>

            <div class="carousel-inner">
                @for(int i=0;i<Model.Gallary.Count(); i++)
                {
                    <div class="@(i==0? "carousel-item active":"carousel-item")">
                         <img class="d-block w-100" src="/@Model.Gallary[i].Url" alt="@Model.Gallary[i].Name">
                    </div>
                } 
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


<div class="col-md-5">
    <div class="row">
        <div class="col-md-12">
            <h2>@Model.Title</h2>
            <span class="col-form-label label-primary">by:</span>
            <span class="monospaced">@Model.Author</span>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="description">
                    @Model.Desc
            </p>

        </div>
    </div>

     <div class="row">
        <div class="col-md-12">
            <a class = "btn btn-outline-primary" href= "/@Model.BookPdfUrl" target = "_blank">
                Read now
            </a>

        </div>
    </div>

    <hr />
    <ul class="list-group">
        <li class="list-group-item"><span class="font-weight-bold">Category - </span>@Model.Category</li>
        <li class="list-group-item"><span class="font-weight-bold">Pages - </span>@Model.Pages</li>
        <li class="list-group-item"><span class="font-weight-bold">Language- </span>@Model.LanguageId</li>

    </ul>
</div>
</div>	