﻿@model BooksModal

    <div class="card">
        <img src = "@(string.IsNullOrEmpty(Model.coverImageUrl) ? "bookDefault.jpg":"/"+@Model.coverImageUrl )" class=  "img-thumbnail"/>
      <div class="card-body">
        <h5 class="card-title">@(string.IsNullOrEmpty(Model.Title) ? "name not available": Model.Title)</h5>
        <p class="card-text">@(string.IsNullOrEmpty(Model.Author) ? "name not available": Model.Author)</p>
        @*<a href="/Book/GetBook/@(Model.Id == null || Model.Id ==0 ? 1: Model.Id)" class="btn btn-primary">view book</a>*@
        <a asp-controller = "Book" asp-action = "GetBook" asp-route-id = "@(Model.Id == null || Model.Id ==0 ? 1: Model.Id)" class="btn btn-primary">view book</a>
      </div>
    </div>