﻿<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - Book Store App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			<email mail-addr= "support@gmail.com"></email>
		</div>
	</footer>
