﻿@using Microsoft.Extensions.Configuration;
@inject Microsoft.Extensions.Options.IOptionsSnapshot<AddNewBookConfig> _AddNewConfiguration;
@inject BookStoreLibrary.Repositories.IBookRepository _bookRepository;
@*@{
	var newBook =new AddNewBookConfig();
	_configuration.Bind("addBookAlert",newBook);
}*@
<header>
		
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
				<div class="container-fluid">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@_bookRepository.GetAppName()</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="AboutUs">About us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="GetAllBooks">Books</a>
							</li>						
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
							</li>
							<li>
								<a class="nav-link text-dark" asp-controller="Book" asp-action="AddNewBook">Add new book</a>
							</li>

							<li>
								<a class="nav-link text-dark" asp-area =  "admin" asp-controller="Home" asp-action="Index">admin</a>
							</li>

						    <partial name = "_SignInLogIn"></partial>
						</ul>
					</div>
				</div>
			</nav>

	@*@{
		if (_AddNewConfiguration.Get("AddBookAlert1").Istrue)
		{
			<div class= "alert alert-info" role - "alert">
				@_AddNewConfiguration.Get("AddBookAlert1").display
			</div>
		}
		if (_AddNewConfiguration.Get("AddBookAlert2").Istrue)
		{
			<div class= "alert alert-info" role - "alert">
				@_AddNewConfiguration.Get("AddBookAlert2").display
			</div>
		}
	}*@
		
	</header>