﻿@using BookStoreLibrary.Models;
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@using BookStoreLibrary.Helpers;


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "background-color : white;border: none;color : black ">
            @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
             <a class="dropdown-item" asp-action = "Logout" asp-controller = "Account">Logout</a>
             <a class="dropdown-item" asp-action = "ChangePassword" asp-controller = "Account">Change password</a>
       </div>
       </div>
       </li>
}
else
{
    <li class="nav-item">
         <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl = "@Context.Request.Path">Login</a>
    </li>
   
    <li class="nav-item">
         <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignUp">Register</a>
    </li>

}

